{% extends 'new_site/account/compte.html.twig' %}

{% set active = active ?? 'orders' %}

{% block breadcrumbs %}
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{{ path('new_site') }}" rel="nofollow">Accueil</a>
                <span></span> <a href="{{ path('dashboard') }}">Mon Compte</a>
                <span></span> Mes commandes
            </div>
        </div>
    </div>
{% endblock %}

{% block contenu %}
    <div class="shop-product-fillter">
        <div class="totall-product">
            <p> Liste des <strong class="text-brand">commandes effectuées</strong></p>
        </div>
    </div>
    <div class="row product-grid-3">
        <div clas<s="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Commande</th>
                        <th>Date</th>
                        <th>Statut</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders.data %}
                        <tr>
                            <td>#1357</td>
                            <td>March 45, 2020</td>
                            <td>Processing</td>
                            <td>$125.00 for 2 item</td>
                            <td><a href="#" class="btn-small d-block">View</a></td>
                        </tr>
                        <tr>
                            <td>#2468</td>
                            <td>June 29, 2020</td>
                            <td>Completed</td>
                            <td>$364.00 for 5 item</td>
                            <td><a href="#" class="btn-small d-block">View</a></td>
                        </tr>
                        <tr>
                            <td>#2366</td>
                            <td>August 02, 2020</td>
                            <td>Completed</td>
                            <td>$280.00 for 3 item</td>
                            <td><a href="#" class="btn-small d-block">View</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                <div class="my-3 m-auto text-center">
                                    <img src="{{ asset("evara-frontend/assets/imgs/theme/icons/feature-6.png") }}" alt="">
                                    <h4 class="mt-3 text-center text-muted">Aucune commande trouvée</h4>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% set path = "orders" %}
        {% set pages = orders.pages %}
        {% set currentPage = orders.page %}

        {% include "new_site/_partials/_pagination.html.twig" %}


    </div>
{% endblock %}


{% block scripts %}
    <script>
        
    </script>
{% endblock %}