{% extends 'new_site/base.html.twig' %}

{% block breadcrumbs %}
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{{ path('new_site') }}" rel="nofollow">Accueil</a>
                <span></span> Contact
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    
    <section class="hero-2 bg-green" style="min-height: 500px">
        <div class="hero-content">
            <div class="container">
                <div class="text-center">
                    <h4 class="text-brand mb-20">Contactez nous</h4>
                    <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                        Vous pouvez <br>Tout <span class="text-style-1">Nous dire</span>
                    </h1>
                    {# <p class="w-50 m-auto mb-50 wow fadeIn animated">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quam eius placeat, a quidem mollitia at accusantium reprehenderit pariatur provident nam ratione incidunt magnam sequi.</p>
                    <p class="wow fadeIn animated">
                        <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up" href="page-about.html">About Us</a>
                        <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up">Support Center</a>
                    </p> #}
                </div>
            </div>
        </div>
    </section>

    <section class="pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 m-auto">
                    <div class="contact-from-area padding-20-row-col wow FadeInUp">
                        <h3 class="mb-10 text-center">Envoyez nous un message</h3>
                        <p class="text-muted mb-30 text-center font-sm">Librement, vous pouvez nous envoyer un message.</p>
                       {#  <form class="contact-form-style text-center" id="contact-form" action="#" method="post"> #}
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-style mb-20">
                                        <input name="name" placeholder="Nom et prénoms" type="text" id="nom">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-style mb-20">
                                        <input name="email" placeholder="Email" type="email" id="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-style mb-20">
                                        <input name="telephone" placeholder="Numero de téléphone" type="tel" id="telephone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-style mb-20">
                                        <input name="subject" placeholder="Sujet" type="text" id="sujet">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="textarea-style mb-30">
                                        <textarea name="message" placeholder="Message" id="message"></textarea>
                                    </div>
                                   
                                    <a href="#" class="btn btn-fill-out btn-block "  id="soumettreFormulaire">Envoyer un message</a>
                                </div>
                            </div>
                        {# </form> #}
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
      
        function soumettreFormulaire() {
            //var url = "{{ path('supprimer_du_panier', {id: 'id'}) }}".replace('id', id);
            var url = "{{ path('soumettre_contact') }}"
            var data = {
                nom: $('#nom').val(),
                email: $('#email').val(),
                telephone: $('#telephone').val(),
                sujet: $('#sujet').val(),
                message: $('#message').val(),
            };
            var type = 'POST';

            var success = function (res) {
                console.log(res);
                HoldOn.close()
                //location.href = "{{ path('contact') }}";
            }
            var error = function (e) {
                console.log(e);
                HoldOn.close()
            }
            var beforeSend = function () {
                HoldOn.open()
            }

            sendAjax({url: url, type: type, data: data, success: success, error: error, options: {beforeSend: beforeSend}})
        }


         $('#soumettreFormulaire').on('click', function () {
            alert('')
                soumettreFormulaire();
            })
    });
    </script>
{% endblock %}